*{
	padding: 0;
	margin:0;
	box-sizing: border-box;

}

body{
	background: #f3f3f3;
	position: relative;
	font-weight: bold;
}
 h1{
	padding-top: 20px;
	text-align: center;
}
.contenedor{
	/*background: #9a9090;
    background-image: linear-gradient(110deg,#000 0,#989898 30%,#848e92 50%,#757575 70%,#000 100%);*/
	background: #2bf;
    background-image: linear-gradient(110deg,#057 0,#0af 30%,#2bf 50%,#0af 70%,#057 100%);
	border: 2px solid black;
	border-radius: 20px;
	width: 780px;
	height: 550px;
	margin: 0 auto;
	position: relative;
	top: 40px;
 	color: white;
	display: block;	
	box-shadow: 10px 4px 10px 2px rgba(0,0,0,.33);

}
.contenedor2{
	background: #2bf;
    background-image: linear-gradient(110deg,#057 0,#0af 30%,#2bf 50%,#0af 70%,#057 100%);
	border-radius: 20px;
	width: 780px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	top: 40px;
 	color: white;
	display: block;
	box-shadow: 10px 4px 10px 2px rgba(0,0,0,.33);
}
.caja{
	padding: 10px;
}
.caja input{
	padding: 10px;
}
a.suich{
    text-decoration: none;
    color: red;
    position: absolute;
    right: 20px;
    font-size: 1.34em;   	
}

a.suich:hover{
	text-decoration: normal;
	font-size: 1.35em;
	color: black;
}
form{
	text-align: center;
}
.submit{
	padding: 20px 75px;
	margin-top: 20px;
	box-shadow: 0 3px 0 rgba(13,22,25,.6), inset 0 3px 0 #ffde00, 0 0 20px rgba(255,142,0,.45);
    border: 1px solid #000;
    background-image: linear-gradient(to top,#f90 0,#f70 100%);
    cursor: pointer;
    font-weight: bold;
    color: white;

}
.submit:hover{
	color: red;
}

